<article class="uk-article">
    <p class="uk-article-meta">
        Posted on $date$
        $tags$
    </p>
</article>

$body$

<a href="https://twitter.com/intent/tweet?screen_name=lmdexpr&text=(https%3A%2F%2Flmdexpr.github.io%E3%82%88%E3%82%8A)" class="twitter-mention-button" data-lang="ja" data-size="large" data-related="lmdexpr">Tweet to @lmdexpr</a>  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

